:host {
    .dialog-form {
        display: flex;
        flex-direction: column;
        min-width: 500px;
        textarea {
            min-height: 55px;
        }
        .button-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .upload-label {
        width: calc(50vw - 20px);
        .img-label {
            display: flex;
            align-items: center;
            padding-top: 10px;
            img {
                height: 75px;
                width: auto;
            }
            img.status-icon {
                margin-left: 15px;
                height: 40px;
            }
        }
    }
}