<form [formGroup]="albumForm">
    <mat-card class="album-field">

        <div style="display: flex;width: 100%;">
            <mat-form-field class="has-button">
                <input type="text" placeholder="サークル名" aria-label="Number" matInput formControlName="artist" [matAutocomplete]="artist">
                <mat-autocomplete #artist="matAutocomplete" [displayWith]="displayName">
                    <mat-option *ngFor="let artist of filteredArtists | async" [value]="artist">
                        {{ artist.name }}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint>必須！</mat-hint>
                <mat-error>無効入力</mat-error>
            </mat-form-field>
            <button (click)="showArtistForm()" class="icon-button" mat-button>
                <i class="material-icons">add_circle</i>
            </button>
        </div>

        <div style="display: flex;width: 100%;">
            <mat-form-field class="has-button">
                <input type="text" placeholder="イベント" aria-label="Number" matInput formControlName="event" [matAutocomplete]="event">
                <mat-autocomplete #event="matAutocomplete" [displayWith]="displayName">
                    <mat-option *ngFor="let event of filteredEvents | async" [value]="event">
                        {{ event.name }}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint>必須！</mat-hint>
                <mat-error>無効入力</mat-error>
            </mat-form-field>
            <button (click)="showEventForm()" class="icon-button" mat-button>
                <i class="material-icons">add_circle</i>
            </button>
        </div>

        <mat-form-field>
            <input type="text" placeholder="タイトル" aria-label="Number" matInput formControlName="name">
            <mat-hint>必須！</mat-hint>
            <mat-error>無効入力</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="text" placeholder="発売日" aria-label="Number" matInput formControlName="release">
            <mat-hint>必須！</mat-hint>
            <mat-error>無効入力</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="text" placeholder="ホームページ" aria-label="Number" matInput formControlName="website">
        </mat-form-field>

    </mat-card>
</form>

<div class="upload-fields" *ngIf="albumForm.valid">
    <mat-card class="upload-label" (drop)="dropTracks($event)" (dragover)="allowDrop($event)">
        <label class="label">音楽</label>
        <div class="img-label">
            <img src="assets/img/upload-music.png" draggable="true" (dragstart)="drag($event)">
            <img class="status-icon" *ngIf="tracks" src="assets/img/confirm.png">
            <img class="status-icon" *ngIf="!tracks" src="assets/img/cross-icon.png">
        </div>
    </mat-card>

    <mat-card class="upload-label" (drop)="dropPicture($event)" (dragover)="allowDrop($event)">
        <label class="label">アルバムアート</label>
        <div class="img-label">
            <img src="assets/img/upload-picture.png" draggable="true" (dragstart)="drag($event)">
            <img class="status-icon" *ngIf="picture" src="assets/img/confirm.png">
            <img class="status-icon" *ngIf="!picture" src="assets/img/cross-icon.png">
        </div>
    </mat-card>
</div>

<div class="track-form-wrapper" *ngIf="albumForm.valid && tracks && picture">
    <form [formGroup]="trackForm" *ngFor="let trackForm of trackForms; let i = index">
        <mat-card class="track-field">

            <mat-form-field>
                <input type="text" placeholder="タイトル" aria-label="title" matInput formControlName="title">
                <mat-hint>必須！</mat-hint>
                <mat-error>無効入力</mat-error>
            </mat-form-field>

            <div style="display: flex;width: 100%;">
                <mat-form-field class="has-button">
                    <mat-select placeholder="原曲" formControlName="originalTitle">
                        <mat-option disabled>--</mat-option>
                        <mat-optgroup *ngFor="let game of originals" [label]="'東方' + game.touhou">
                            <mat-option *ngFor="let original of game.tracks" [value]="original">
                                {{ original.name }}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                    <mat-hint>必須！</mat-hint>
                    <mat-error>無効入力</mat-error>
                </mat-form-field>
                <button (click)="showGenreForm()" class="icon-button" mat-button>
                    <i class="material-icons">add_circle</i>
                </button>
            </div>

            <div style="display: flex;width: 100%;">
                <mat-form-field class="has-button">
                    <mat-select placeholder="ジャンル" formControlName="genre" multiple>
                        <mat-option disabled>--</mat-option>
                        <mat-option *ngFor="let genre of genres" [value]="genre">
                            {{ genre.name }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>必須！</mat-hint>
                    <mat-error>無効入力</mat-error>
                </mat-form-field>
                <button (click)="showGenreForm()" class="icon-button" mat-button>
                    <i class="material-icons">add_circle</i>
                </button>
            </div>

            <mat-form-field>
                <input type="text" placeholder="アレンジ" aria-label="Number" matInput formControlName="arrangement">
            </mat-form-field>

            <mat-form-field>
                <input type="text" placeholder="作家名" aria-label="Number" matInput formControlName="lyrics">
            </mat-form-field>

            <mat-form-field>
                <input type="text" placeholder="ボーカル" aria-label="Number" matInput formControlName="vocal">
            </mat-form-field>

        </mat-card>
    </form>
</div>

<div class="button-wrapper">
    <button [disabled]="!checkForm()" mat-button class="submit-album" type="submit" (click)="postAlbum()">アップロード</button>
</div>