:host {
    mat-card {
        display: flex;
        flex-direction: column;
        margin: 10px;
        input.ng-invalid {
            box-shadow: 0 0 15px rgba(red, 0.2) inset;
        }
    }
    .has-button {
        width: 100%;
        max-width: calc(100% - 61px);
    }
    .icon-button {
        padding: 0;
        height: 36px;
        width: 36px;
        max-width: 36px;
        min-width: unset;
        margin: 0 10px;
        box-shadow: 0 0 6px rgba(#000, 0.2);
    }
    div.track-form-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        form {
            display: flex;
            width: 50%;
            min-width: 400px;
            max-width: 600px;
            mat-card.track-field {
                width: 100%;
            }
        }
    }
    .upload-fields {
        display: flex;
        .upload-label {
            width: calc(50vw - 20px);
            .img-label {
                display: flex;
                align-items: center;
                padding-top: 10px;
                img {
                    height: 75px;
                    width: auto;
                }
                img.status-icon {
                    margin-left: 15px;
                    height: 40px;
                }
            }
        }
    }
    .button-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        .submit-album {
            min-width: 150px;
            min-height: 45px;
            background-color: palegreen;
        }
    }   
}